<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <title>Trang Chủ</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline fw-bold menu">MENU</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">Lẩu</a>
                        </li>
                        <li>
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Khai Vị</span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 "></i> <span class="ms-1 d-none d-sm-inline">Được yêu thích</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 "></i> <span class="ms-1 d-none d-sm-inline">Món mới</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Ăn kèm</span> </a>
                        </li>
                        <li>
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Thịt</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Thịt bò</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Thịt heo</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Rau</span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Nấm</span> </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3 bg-dark">
                <div class="product-row row">
                    {{#each data}}
                    <div class="product-card col-md-5">
                        <img class="product-image" src="{{hinhanh}}"
                            alt="Product 1">
                        <div class="product-info">
                            <h3 class="product-name">{{tenmonan}}</h3>
                            <h4 class="product-price">{{gia}}</h4>
                            <div class="quantity-control justify-content-around counter">
                                <button class="quantity-btn decrement">-</button>
                                <span class="quantity-value count">0</span>
                                <button class="quantity-btn increment">+</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div>
            <!-- <a href="#" class="orderfood">Đặt món</a> -->
            <button class="order-btn">Đặt món</button>
        </div>
    </div>


</body>
<script>
    // Lấy tất cả các phần tử có class là "product-price"
    const productPrices = document.querySelectorAll('.product-price');

    // Lặp qua từng phần tử và định dạng lại giá tiền
    productPrices.forEach(price => {
        const rawPrice = parseInt(price.textContent); // Lấy giá tiền ban đầu
        const formattedPrice = rawPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }); // Định dạng lại giá tiền
        price.textContent = formattedPrice; // Cập nhật lại giá tiền đã định dạng
    });

    var counters = document.querySelectorAll(".counter");

    function increment(event) {
        var counter = event.target.closest(".counter");
        var count = parseInt(counter.querySelector(".count").innerHTML);
        count += 1;
        counter.querySelector(".count").innerHTML = count;
        if (count === 0) {
            counter.querySelector(".decrement").style.display = "none";
            counter.querySelector(".count").style.display = "none";
        } else {
            counter.querySelector(".decrement").style.display = "inline-block";
            counter.querySelector(".count").style.display = "inline-block";
        }
    }

    function decrement(event) {
        var counter = event.target.closest(".counter");
        var count = parseInt(counter.querySelector(".count").innerHTML);
        count -= 1;
        counter.querySelector(".count").innerHTML = count;
        if (count === 0) {
            counter.querySelector(".decrement").style.display = "none";
            counter.querySelector(".count").style.display = "none";
        } else {
            counter.querySelector(".decrement").style.display = "inline-block";
            counter.querySelector(".count").style.display = "inline-block";
        }
    }

    for (var i = 0; i < counters.length; i++) {
        var decrementButton = counters[i].querySelector(".decrement");
        var incrementButton = counters[i].querySelector(".increment");
        decrementButton.addEventListener("click", decrement);
        incrementButton.addEventListener("click", increment);
        decrementButton.style.display = "none";
        counters[i].querySelector(".count").style.display = "none";
    }


</script>

</html>