<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    p.item {
      padding: 16px;
      text-align: center;
      border-radius: 8px;
      color: white;
      background-color: green;
    }

    .login {
      display: none;
    }

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(196, 207, 124);
      color: #fff;
      padding: 10px;
      position: relative;
    }

    header .logo img {
      height: 100px;
      width: 100px;
    }

    .container__login {
      height: 448px;
    }

    .footer {
      float: bottom;
      background-color: rgb(196, 207, 124);
      ;
      color: #fff
    }
  </style>
</head>



<body>
  {{!-- buộc toàn bộ dòng và cột phải bỏ trong class container --> --}}
  <div class="container container__login">
    <h3 class="text-center my-3">Đăng nhập</h3>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-5">
        <div class="border p-3 rounded bg-light">
          <form method="POST" action="/login">
            <div class="form-group">
              <label for="user">Tên đăng nhập</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input name="username" id="username" type="text" class="form-control"
                  placeholder="Tên đăng nhập của bạn">
              </div>

            </div>
            <div class="form-group">
              <label for="pass">Mật khẩu</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Nhập vào mật khẩu">
              </div>
            </div>
            <div id="msg__err" class="form-group" hidden>
              <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span id="text__msgErr"></span>
              </div>
            </div>
            <div class="form-group text-center">
              <button id="btn__login" class="btn btn-success px-5" type="submit">Đăng nhập</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const username = document.getElementById("username")
  const password = document.getElementById("password")
  const btn__login = document.getElementById("btn__login")
  const msg__err = document.getElementById("msg__err")
  const text__msgErr = document.getElementById("text__msgErr")

  btn__login.addEventListener("click", function (e) {
    if (username.value == null || username.value == "") {
      e.preventDefault();
      msg__err.hidden = false
      text__msgErr.textContent = "Vui lòng nhập tài khoản"
      username.focus()
      setTimeout(function() {
        msg__err.hidden = true;
      }, 3000);
    } else if(password.value == null || password.value == "") {
      e.preventDefault();
      msg__err.hidden = false
      text__msgErr.textContent = "Vui lòng nhập mật khẩu"
      password.focus()
      setTimeout(function() {
        msg__err.hidden = true;
      }, 3000);
    }
  })
</script>

</html>