<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <title>Xem lịch sử tính tiền</title>
</head>

<style>
 .footer {
        display: none;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Lịch sử tính tiền</h1>
            <div class="col-md-2">
                <select id="years" class="form-select" onchange="showMonths()" aria-label="Default select example">
                    <option disabled selected>Chọn năm</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="months" style="display: none;" class="form-select" onchange="showDays()"
                    aria-label="Default select example">
                    <option disabled selected>Chọn tháng</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="days" class="form-select" style="display: none;"
                    aria-label="Default select example"></select>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Mã phiếu</th>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Nhân viên tạo</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>19/01/2023</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>19/01/2023</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>19/01/2023</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>19/01/2023</td>
                    <td>350.000 VNĐ</td>
                </tr>
            </tbody>
        </table>
        <button onclick="history.back()" style="float: left;" type="button" class="btn btn-primary">Trở về</button>
    </div>
</body>
<script>
    function showMonths() {
        document.getElementById("months").style.display = "block";
    }
    function showDays() {
        var month = document.getElementById("months").value;
        var year = new Date().getFullYear();
        var days = new Date(year, month, 0).getDate();
        var select = "<option value='' disabled selected>Chọn ngày</option>";
        for (var i = 1; i <= days; i++) {
            select += "<option value='" + i + "'>" + i + "</option>";
        }
        document.getElementById("days").innerHTML = select;
        document.getElementById("days").style.display = "block";
    }
</script>

</html>