<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <title>Tổng hợp phiếu tính tiền</title>
</head>

<body onload="displayDate()">
    <div class="container">
        <h1 id="current-date">Tổng hợp phiếu tính tiền ngày: </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Mã phiếu</th>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Nhân viên tạo</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>350.000 VNĐ</td>
                </tr>
                <tr>
                    <th scope="row">PH0201</th>
                    <td><a href="/manager/detail-order/DH0101">DH0101</a></td>
                    <td>Nguyễn Văn A</td>
                    <td>350.000 VNĐ</td>
                </tr>
            </tbody>
        </table>
        <button onclick="history.back()" style="float: left;" type="button" class="btn btn-primary">Trở về</button>
        <button style="float: right;" type="button" class="btn btn-success">Bắt đầu tổng hợp</button>
    </div>
</body>
<script>
    function displayDate() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var date = day + '/' + month + '/' + year;
        document.getElementById('current-date').innerHTML += date;
    }
</script>

</html>